In [15]:
#!/usr/bin/env python

# make sure to install these packages before running:

import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
import json

# Import API keys & app tokens
from api_keys import api_key_regular
from api_keys import api_key_secret
from api_keys import app_token_regular
from api_keys import app_token_secret

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", app_token_regular)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("h9gi-nx95")

# Convert to pandas DataFrame
results_values_df = pd.DataFrame.from_records(results)

missing_values = results_values_df.isna().sum()
print(results_values_df["contributing_factor_vehicle_1"])
print(missing_values)

results_values_df.head(20)

0        Aggressive Driving/Road Rage
1                   Pavement Slippery
2               Following Too Closely
3                         Unspecified
4                                 NaN
                    ...
995                Turning Improperly
996                  Backing Unsafely
997    Driver Inattention/Distraction
998             Following Too Closely
999                       Unspecified
Name: contributing_factor_vehicle_1, Length: 1000, dtype: object
crash_date                         0
crash_time                         0
on_street_name                   258
off_street_name                  549
number_of_persons_injured          0
number_of_persons_killed           0
number_of_pedestrians_injured      0
number_of_pedestrians_killed       0
number_of_cyclist_injured          0
number_of_cyclist_killed           0
number_of_motorist_injured         0
number_of_motorist_killed          0
contributing_factor_vehicle_1      3
contributing_factor_vehicle_2    230
collision_id                       0
vehicle_type_code1                14
vehicle_type_code2               345
borough                          367
zip_code                         368
latitude                          76
longitude                         76
location                          76
cross_street_name                742
contributing_factor_vehicle_3    909
vehicle_type_code_3              919
contributing_factor_vehicle_4    973
vehicle_type_code_4              976
contributing_factor_vehicle_5    994
vehicle_type_code_5              995
dtype: int64

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2:39,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,11:45,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,6:55,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,9:35,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.8665,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,8:13,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-04-14T00:00:00.000,12:47,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-12-14T00:00:00.000,17:05,BROOKLYN QUEENS EXPRESSWAY,NaN,0,0,0,0,0,0,...,40.709183,-73.956825,"{'latitude': '40.709183', 'longitude': '-73.95...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-12-14T00:00:00.000,8:17,NaN,NaN,2,0,0,0,0,0,...,40.86816,-73.83148,"{'latitude': '40.86816', 'longitude': '-73.831...",344 BAYCHESTER AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-12-14T00:00:00.000,21:10,NaN,NaN,0,0,0,0,0,0,...,40.67172,-73.8971,"{'latitude': '40.67172', 'longitude': '-73.897...",2047 PITKIN AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-12-14T00:00:00.000,14:58,3 AVENUE,EAST 43 STREET,0,0,0,0,0,0,...,40.75144,-73.97397,"{'latitude': '40.75144', 'longitude': '-73.973...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-12-13T00:00:00.000,0:34,MYRTLE AVENUE,NaN,0,0,0,0,0,0,...,40.701275,-73.88887,"{'latitude': '40.701275', 'longitude': '-73.88...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-12-14T00:00:00.000,16:50,SPRINGFIELD BOULEVARD,EAST GATE PLAZA,0,0,0,0,0,0,...,40.675884,-73.75577,"{'latitude': '40.675884', 'longitude': '-73.75...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-12-14T00:00:00.000,8:30,broadway,west 80 street -west 81 street,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-12-14T00:00:00.000,0:59,BELT PARKWAY,NaN,0,0,0,0,0,0,...,40.59662,-74.00231,"{'latitude': '40.59662', 'longitude': '-74.002...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-12-14T00:00:00.000,23:10,NORTH CONDUIT AVENUE,150 STREET,2,0,0,0,0,0,...,40.66684,-73.78941,"{'latitude': '40.66684', 'longitude': '-73.789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-12-14T00:00:00.000,17:58,NaN,NaN,0,0,0,0,0,0,...,40.68158,-73.97463,"{'latitude': '40.68158', 'longitude': '-73.974...",480 DEAN STREET,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-12-14T00:00:00.000,20:03,NaN,NaN,4,0,0,0,0,0,...,40.65068,-73.95881,"{'latitude': '40.65068', 'longitude': '-73.958...",878 FLATBUSH AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-12-14T00:00:00.000,1:28,MEEKER AVENUE,LORIMER STREET,3,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-12-11T00:00:00.000,19:43,WEST KINGSBRIDGE ROAD,HEATH AVENUE,1,0,0,0,0,0,...,40.87262,-73.904686,"{'latitude': '40.87262', 'longitude': '-73.904...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-12-14T00:00:00.000,14:30,WHITESTONE EXPRESSWAY,NaN,0,0,0,0,0,0,...,40.783268,-73.82485,"{'latitude': '40.783268', 'longitude': '-73.82...",NaN,Unspecified,Sedan,NaN,NaN,NaN,NaN